.main-div {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.absolute-student-card {
	position: absolute;
	width: 23vw;
}

.absolute-student-card:last-child {
	position: absolute;
	box-shadow: 1px 6px 6px 6px rgba(0, 0, 0, 0.25);
	border-radius: 5% 5% 0% 0%;
	background-color: white;
	width: 25em;
}

.main-card {
	display: flex;
	flex-direction: row;
	width: 25vw;
	height: fit-content;
	position: relative;
	align-items: center;
	bottom: 2em;
}

.nav-buttons {
	display: flex;
	width: 100vw;
	justify-content: space-around;
	padding-top: 5vh;
}

.nav-buttons > .logout-icon {
	cursor: pointer;
}

.nav-buttons > .profile-icon {
	cursor: pointer;
}

.main-student-photo {
	width: 23vw;
	height: 23em;
	border-radius: 5% 5% 0% 0%;
	background-size: cover;
	background-position: center;
	border-bottom: 1px solid black;
}

.empty-p {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.35em;
	padding-top: 15em;
}

.student-info {
	display: flex;
	flex-direction: column;
	width: 25em;
	height: 18em;
	border-radius: 0% 0% 5% 5%;
	background-color: white;
	overflow: auto;
}

.student-title {
	display: flex;
	flex-direction: row;
	padding-top: 1em;
}

.student-name {
	font-size: 30px;
	padding-left: 5%;
}

.student-degree {
	font-size: 22px;
	padding-left: 5%;
	font-weight: normal;
}

.student-academics {
	padding-top: 1.4em;
	display: flex;
	flex-direction: column;
	font-size: 15px;
	padding-left: 5%;
	padding-bottom: 0.5em;
}

.academic-marks {
	font-weight: bold;
	font-size: 15px;
}

.student-degree-details {
	display: flex;
	flex-direction: row;
	padding-top: 1.4em;
	padding-bottom: 0.5em;
	padding-left: 5%;
}

.student-gpa {
	font-size: 15px;
}

.student-study {
	font-size: 15px;
	padding-left: 60%;
	width: 20em;
}

.student-interest-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 1em;
	width: 20em;
}

.student-reject-image {
	width: 4em;
	padding-left: 35%;
	cursor: pointer;
}

.student-interest-image {
	width: 4em;
	padding-left: 35%;
	cursor: pointer;
}

.student-interest-:nth-child(1) {
	width: 4em;
	padding-left: 35%;
	cursor: pointer;
}

.student-photo-swal{
	width: 5em;
	border-radius: 50%;
	align-self: center;
}

.student-title-swal {
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
}

.student-academics-swal {
	padding-top: 1%;
	display: flex;
	flex-direction: column;
	font-size: 18px;
	text-align: left;
	padding-left: 5%;
}

.student-email-swal{
	font-size: 18px;
	text-align: left;
	padding-left: 5%;
	padding-top: 3%;
}

.social-media-swal{
	display: flex;
	flex-direction: row;
	padding-left: 5%;
	padding-top: 6%;
}

.instagram-swal{
	width: 3em;
}

.facebook-swal{
	width: 3em;
}

.twitter-swal{
	width: 3em;
}
