.profile-div {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-card {
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 50vw;
	height: fit-content;
	position: relative;
	margin-top: 3em;
}

.profile-form {
	margin-top: 1em;
	display: flex;
	flex-direction: column;
}

.profile-form-inputs {
	display: flex;
	flex-direction: column;
	margin-left: 10em;
}

.profile-input {
	position: relative;
	background: rgba(133, 36, 251, 0.2);
	border: none;
	border-radius: 5px;
	width: 80%;
	height: 3.3em;
	padding-left: 2%;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.profile-input:focus {
	outline: 2px solid #8324fb;
}

.profile-input:invalid:focus {
	position: relative;
	background: rgba(196, 37, 37, 0.208);
	border: 1px solid red;
	border-radius: 5px;
	outline: 1px red;
	width: 80%;
	height: 3.3em;
	padding-left: 2%;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.student-info-div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.student-header {
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 36px;
}

.student-photo {
	border-radius: 50%;
	width: 9em;
	align-self: center;
	margin-top: 0.5em;
	cursor: pointer;
	border: 2px solid black;
}

.username-div {
	margin-top: 2em;
	margin-bottom: 2em;
}

.username-label {
	display: flex;
}

.username-icon {
	margin-left: 1.1%;
	margin-bottom: 1%;
}

.email-div > .error-p {
	color: red;
	margin-left: 0.5%;
	font-size: 14px;
	margin-top: 1em;
}

.profile-header {
	font-weight: 600;
	margin-left: 1.5%;
	font-size: 1.125em;
}

.profile-email-label {
	display: flex;
}

.profile-email-icon {
	margin-left: 1.1%;
	margin-bottom: 1%;
}

.degree-div {
	margin-top: 2em;
}

.degree-label {
	display: flex;
}

.degree-icon {
	margin-left: 1.1%;
	margin-bottom: 1%;
}

.profile-container {
	margin-top: 1em;
	display: flex;
	justify-content: space-between;
}

.gpa-label {
	display: flex;
	margin-bottom: 0.1em;
}

.gpa-icon {
	margin-left: 1.1%;
	margin-bottom: 1%;
}

.academics-div {
	margin-top: 2em;
}

.academics-label {
	display: flex;
}

.academics-label2 {
	display: flex;
	margin-bottom: 1em;
	justify-content: space-between;
	margin-right: 27em;
}

.academics-grade {
	margin-right: 1em;
}

.academics-icon {
	margin-left: 1.1%;
	margin-bottom: 1%;
}

.academics-subjects {
	margin-top: 0.5em;
}

.subject-grade {
	display: flex;
	margin-bottom: 1em;
}

.grades {
	appearance: none;
	border: none;
	padding: 0 0.5em 0 0.5em;
	margin-right: 1em;
	font-family: inherit;
	font-size: inherit;
	font-weight: 700;
	cursor: pointer;
	height: 2.8em;
	border-radius: 5px;
	background: rgba(133, 36, 251, 0.2);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.subject-grade > .profile-input {
	position: relative;
	background: rgba(133, 36, 251, 0.2);
	border: none;
	border-radius: 5px;
	width: 73%;
	height: 3.3em;
	padding-left: 2%;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.subject-grade > .profile-input:invalid:focus {
	position: relative;
	background: rgba(196, 37, 37, 0.208);
	border: 1px solid red;
	border-radius: 5px;
	outline: 1px red;
	width: 73%;
	height: 3.3em;
	padding-left: 2%;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.study-load-div {
	display: flex;
	flex-direction: column;
	margin-right: 9em;
}

.study-load-label {
	display: flex;
	justify-content: center;
	margin-bottom: 3%;
}

.study-load-input {
	margin-right: 0.5em;
	accent-color: #8324fb;
}

.study-load-icon {
	margin-left: 1.1%;
	margin-bottom: 1%;
}

.profile-buttons {
	display: flex;
	margin-top: 1em;
	margin-bottom: 2.2em;
	justify-content: space-evenly;
}

.gpa-div > .profile-input {
	position: relative;
	background: rgba(133, 36, 251, 0.2);
	border: none;
	border-radius: 5px;
	width: 40%;
	height: 3.3em;
	padding-left: 10%;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.study-load-buttons {
	display: flex;
	margin-bottom: 3em;
}

.part-time-div {
	display: flex;
	align-items: center;
	margin-left: 2em;
}

.full-time-div {
	display: flex;
	align-items: center;
}

.submit-button {
	width: 20%;
	height: 2.7em;
	background: #8324fb;
	border-radius: 25px;
	border: none;
	color: white;
	font-weight: 600;
	font-size: 1.125em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

.submit-button:disabled {
	width: 20%;
	height: 2.7em;
	background: grey;
	border-radius: 25px;
	border: none;
	color: white;
	font-weight: 600;
	font-size: 1.125em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	cursor: not-allowed;
}

.cancel-button {
	width: 20%;
	height: 2.7em;
	border: 2px solid #8324fb;
	box-sizing: border-box;
	border-radius: 25px;
	color: #8324fb;
	font-weight: 600;
	background: white;
	font-size: 1.125em;
	border: 2px solid #8324fb;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

.instagram-icon {
	margin-left: 1.1%;
	margin-bottom: 1%;
}

.facebook-icon {
	margin-left: 1.1%;
	margin-bottom: 1%;
}

.twitter-icon {
	margin-left: 1.1%;
	margin-bottom: 1%;
}

.instagram-div {
	margin-top: 1em;
	margin-bottom: 1em;
}

.instagram-label {
	display: flex;
}

.facebook-div {
	margin-top: 1em;
	margin-bottom: 1em;
}

.facebook-label {
	display: flex;
}

.twitter-label {
	display: flex;
}

.twitter-div {
	margin-top: 1em;
	margin-bottom: 3em;
}

.disclaimer {
	margin-top: 2em;
	margin-bottom: 1em;
	margin-left: 3em;
	position: relative;
	text-align: center;
	color: orange;
}

.home-icon {
	margin-top: 3em;
	margin-bottom: 1em;
	margin-left: 12em;
	position: absolute;
}

.profile-div > .logout-icon {
	margin-top: 3em;
	margin-bottom: 1em;
	margin-left: 36em;
	position: absolute;
	cursor: pointer;
}

.disclaimer2 {
	position: relative;
	text-align: center;
	margin-top: 2em;
	color: orange;
}
