.reset-div {
	background-image: url("../../Assets/background.svg");
	background-position: center;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.forgot-div {
	background-image: url("../../Assets/background.svg");
	background-position: center;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.reset-card {
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 27vw;
	height: fit-content;
	position: relative;
	border-radius: 20px;
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
	opacity: 0.85;
}

.forgot-card {
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 27vw;
	height: fit-content;
	position: relative;
	border-radius: 20px;
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
	opacity: 0.85;
}

.reset-form {
	display: flex;
	flex-direction: column;
}

.forgot-form {
	display: flex;
	flex-direction: column;
}

.error-p {
	color: red;
	margin-left: 7.2%;
	font-size: 14px;
	margin-top: 1em;
}

.reset-button {
	width: 40%;
	height: 2.7em;
	background: #8324fb;
	border-radius: 15px;
	border: none;
	color: white;
	margin-top: 2.8em;
	font-weight: 600;
	font-size: 1.125em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

.forgot-button {
	width: 40%;
	height: 2.7em;
	background: #8324fb;
	border-radius: 15px;
	border: none;
	color: white;
	margin-top: 2.8em;
	font-weight: 600;
	font-size: 1.125em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

.resetcode-div {
	margin-top: 2em;
}

.resetcode-label {
	display: flex;
	flex-direction: row;
	margin-left: 7.3%;
}
